* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Figtree, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background-color: #F4D04E;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    overflow: hidden;


}

.card {
    text-align: center;
    background-color: white;
    width: 384px;
    height: 522px;
    border-radius: 14px;
    box-shadow: 3px 8px 8px 3px hsl(0, 0%, 0%);
}

.card img {
    max-width: 100%;
    margin: 20px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 10px;
}

.text-pai {
    margin: 10px 0px 0px 20px;
    text-align: left;
}

.status {
    display: inline-block;
    background-color: #F4D04E;
    padding: 4px 10px 4px 10px;
    border-radius: 6px;
    font-weight: 800;
    font: 24px;
    line-height: 150%;
    letter-spacing: 0px;
    margin: 0px 0px 10px;
}

.date {
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 150%;
}

h1 {
    margin: 10px 0px 0px 0px;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 150%;
}

p {
    color: #6B6B6B;
    margin: 15px 0px 20px 0px;
    font-weight: 500;
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0px;

}

.author {
    display: flex;
    align-items: center;
    gap: 10px;

}

.author img {
    margin: 0;
    max-width: 32px;
    max-height: 32px;
}

.author p {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 14px;
    color: black;
}

.attribution {
    text-align: center;
    padding: 20px 0px 0px 0px;
}